/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: #e0e0e0;
    margin-bottom: 20px;
}

input, button {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #333;
    background-color: #333;
    color: #fff;
}input{
    width: 200px;
}
button {
    background-color: #6200ea;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #3700b3;
}ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #333;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

button {
    background-color: #f44336;
    padding: 5px 10px;
}

button:hover {
    background-color: #e7352f;
}
a {
    text-decoration: none;
    color: #bb86fc;
    margin-top: 20px;
    font-size: 16px;
}

a:hover {
    text-decoration: underline;
}
